<app-template></app-template>
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title bold">My Preferences </h3></div>
    <div class="panel-body"><br>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 displayType">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <label for="selectRadius">Set search radius </label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 displayType">
          <span>:&nbsp;&nbsp;&nbsp;</span>
          <select class="form-control" id="selectRadius">
            <option value="">2 miles</option>
            <option value="">5 miles</option>
            <option value="">10 miles</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 displayType">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <label>Set store recommendation preference </label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 displayType">
          <span>:</span>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label><input type="radio" name="optLocRadio" checked>&nbsp; One Location</label>
              <label><input type="radio" name="optLocRadio">&nbsp; Best of Everything</label>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 displayType">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <label>Set default dashboard view </label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 displayType">
          <span>:</span>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label><input type="radio" name="optradio">&nbsp; Today</label><br>
            <label><input type="radio" name="optradio">&nbsp; Week-To-Date</label><br>
            <label><input type="radio" name="optradio" checked>&nbsp; Month-To-Date</label><br>
            <label><input type="radio" name="optradio">&nbsp; Year-To-Date</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label><input type="radio" name="optSubRadio">&nbsp; 1 month view</label><br>
            <label><input type="radio" name="optSubRadio" checked>&nbsp; 3 months view</label><br>
            <label><input type="radio" name="optSubRadio">&nbsp; 6 months view</label><br>
            <label><input type="radio" name="optSubRadio">&nbsp; 12 months view</label>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 displayType">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <label>Archive Reciepts for </label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 displayType">
          <span>:</span>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table>
              <tr>
                <td><input type="radio" name="optStoreRadio">&nbsp;1 Year</td>
                <td><input type="radio" name="optStoreRadio">&nbsp;2 Years</td>
                <td><input type="radio" name="optStoreRadio" checked>&nbsp;3 Years</td>
                <td><input type="radio" name="optStoreRadio">&nbsp;4 Years</td>
                <td><input type="radio" name="optStoreRadio">&nbsp;5 Years</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 alignCenter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button class="btn btn-primary btn-width" [routerLink]="'/home-page'">Back</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button class="btn btn-primary btn-width">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>