<app-home-page></app-home-page>
<div class="container">
  <fieldset>
    <!-- <legend>My Preferences</legend> -->
    <div class="form-group col-lg-12" style="display: inline-flex">
      <div class="col-lg-4">
        <label for="selectRadius">Set search radius: </label>
      </div>
      <div class="col-lg-4">
        <select class="form-control" id="selectRadius">
          <option value="">2 miles</option>
          <option value="">5 miles</option>
          <option value="">10 miles</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-12" style="display: inline-flex">
      <div class="col-lg-4">
        <label>Set suggestion preference: </label>
      </div>
      <div class="radio col-lg-3">
        <label><input type="radio" name="optLocRadio" checked>&nbsp; One Location</label>
        <label><input type="radio" name="optLocRadio">&nbsp; Best of Everything</label>
      </div>
    </div>
    <div class="form-group col-lg-12" style="display: inline-flex">
      <div class="col-lg-4">
        <label>Set default dashboard view: </label>
      </div>
      <div class="radio col-lg-3">
        <label><input type="radio" name="optradio">&nbsp; Today</label><br>
        <label><input type="radio" name="optradio">&nbsp; Week-To-Date</label>
        <label><input type="radio" name="optradio" checked>&nbsp; Month-To-Date</label>
        <label><input type="radio" name="optradio">&nbsp; Year-To-Date</label>
      </div>
      <div class="radio col-lg-3">
        <label><input type="radio" name="optSubRadio">&nbsp; 1 month view</label>
        <label><input type="radio" name="optSubRadio" checked>&nbsp; 3 months view</label>
        <label><input type="radio" name="optSubRadio">&nbsp; 6 months view</label>
        <label><input type="radio" name="optSubRadio">&nbsp; 12 months view</label>
      </div>
    </div>
    <div class="form-group col-lg-12" style="display: inline-flex">
      <div class="col-lg-4">
        <label>Store Reciepts for: </label>
      </div>
      <div class="radio col-lg-8">
        <label><input type="radio" name="optStoreRadio" checked>&nbsp; 1 year</label>
        <label><input type="radio" name="optStoreRadio">&nbsp; 2 years</label>
        <label><input type="radio" name="optStoreRadio">&nbsp; 3 years</label>
        <label><input type="radio" name="optStoreRadio">&nbsp; 4 years</label>
        <label><input type="radio" name="optStoreRadio">&nbsp; 5 years</label>
      </div>
    </div>
  </fieldset>
</div>