/* fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
} */
.radioAlignment {
    margin: 0px;
    display: inline-flex ;
}
.subRadioAlignment {
    margin: 0px;
    display: inline-block ;
}
span {
    padding-top: 5px;
}
label {
    font-weight: 100;
}
select {
    width: 16em !important;
}
td {
    padding-right: 35px;
}
table {
    margin-top: 5px;
}