/* fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
} */
.panel {
    border-radius: 20px;
}
.panel-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.panel-body {
    padding: 0px;
}
.modal-title {
    font-size: 22px !important;
    color: #286090 !important;
    font-weight: bold;
    letter-spacing: -1px;
}
.modal-header {
    border-bottom: 0px;
}
.modal-content {
    padding: 0 5rem 5rem 5rem;
}
.modal-body td {
    border: 0px;
}
table th {
    color: #fff;
}
.thead-dark {
    background-color: #212529;
    border-color: #32383e;
}
label, td, th {
    text-align: center;
    font-weight: 100;
}
label.checking {
    line-height: 20px;
}
select {
    display: inline-block;
    width: 16em !important;
    height: 35px !important;
    font-size: 15px;
}
/* #testLabel {
    position: relative;
    top: 30px;
    font-size: 18px !important;
    line-height: 35px;
}
.input-field {
    border: 0;
    border-bottom: 1px solid grey;
}
.input-field:active {
    position: relative;
    top: 10px;
    line-height: 50px;
    font-size: 30px !important;
} */