.panel {
    border-radius: 20px;
}
.panel-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.panel-body {
    padding: 0px;
}
.modal-dialog {
    width: 80rem !important;
}
.modal-title {
    font-size: 22px !important;
    color: #286090 !important;
    font-weight: bold;
    letter-spacing: -1px;
}
.modal-header {
    border-bottom: 0px;
}
.modal-content {
    padding: 3rem 5rem 8rem 3rem;
}
.modal-body table {
    margin-bottom: 25px;
}
.modal-body > table > tbody > tr > td {
    border: 0px;
    border-top: 1px solid #ddd !important;
}
table th {
    color: #fff;
}
.thead-dark {
    background-color: #212529;
    border-color: #32383e;
}
/* label {
    line-height: 34px;
} */
label, td, th {
    text-align: center;
    font-weight: 100;
}
select {
    display: inline-block;
    width: 16em !important;
    height: 35px !important;
    font-size: 15px;
}
.input-width {
    display: inline-block;
    width: 10em !important;
    height: 35px !important;
    font-size: 15px;
    text-align: center;
}
/* #testLabel {
    position: relative;
    top: 30px;
    font-size: 18px !important;
    line-height: 35px;
}
.input-field {
    border: 0;
    border-bottom: 1px solid grey;
}
.input-field:active {
    position: relative;
    top: 10px;
    line-height: 50px;
    font-size: 30px !important;
} */