/* fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
} */
/* .panel {
    border-radius: 20px;
}
.panel-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.panel-body {
    padding: 0px;
} */
label, td, th {
    text-align: center;
    font-weight: 100;
}
table th {
    color: #fff;
}
.thead-dark {
    background-color: #212529;
    border-color: #32383e;
}
a {
    padding-right: 10px;
}