fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
}
table {
    width: 90%;
    margin: 0px auto;
}
tr:hover {
    background-color: #d2d9f8;
}
a {
    padding-right: 10px;
}