<div>
    <div>
        <span class="title" [routerLink]="'/welcome'">MyExpenses</span>
        <div id="loginHeading">
        <a href="">About Us |</a>
        <a href="">Contact Us |</a>
        <a href="">Online Help |</a>
        <img src="../assets/userPic.jpg" alt="Profile Pic" class="userPic"/>
        <span class="userName">Julio</span>
        </div>
    </div>
    <br>
    <div id="divTabs"></div>
    <div id="Image_overlay_text">
        <strong style="font-size: 20px;">MyExpenses was created to help families save money.</strong>
        <img class="site-image" src="../assets/iCETS_Logo.jpg" alt="Site Logo" />
    </div>
</div>