<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" [routerLink]="'/welcome'" style="cursor: pointer;">
            <div class="row"><span class="title">MY GROCERY</span></div>
            <div class="row"><span class="title">CART</span></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 site-logo-pos">
            <div class="row">
                <img id="site-logo" src="../assets/application_images/site_logo.jpg" alt="Site Logo" />
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="loginHeading">
            <a>About Us |</a>
            <a>Contact Us |</a>
            <a popover="This Functionality will be integrated with iCETS ChatBots" popoverPlacement="bottom"
                [popoverCloseOnClickOutside]="true" style="cursor: pointer;">
            <img id="chat-logo" src="../assets/application_images/live_chat.jpg" alt="Chat logo"/> |</a>
            <img src="../assets/user_images/userPic.jpg" alt="Profile Pic" class="userPic"/>
            <span class="userName">Julio</span>
        </div>
    </div>
    <div id="divTabs"></div>
    <div id="Image_overlay_text">
        <strong style="font-size: 20px;">My Grocery Cart was created to help families save money</strong>
        <img class="bottom-image" src="../assets/application_images/iCETS_Logo.jpg" alt="Site Logo" />
    </div>
</div>