<div>
    <div class="col-lg-12">
        <div class="col-lg-4" [routerLink]="'/welcome'">
            <!-- <img src="../assets/application_images/TitleTesting3.jpg" alt="Title Logo" /> -->
            <div class="row"><span class="title">MY GROCERY</span></div>
            <div class="row"><span class="title">CART</span></div>
        </div>
        <div class="col-lg-8" id="loginHeading">
            <a href="">About Us |</a>
            <a href="">Contact Us |</a>
            <a href="">Online Help |</a>
            <img src="../assets/user_images/userPic.jpg" alt="Profile Pic" class="userPic"/>
            <span class="userName">Julio</span>
        </div>
    </div>
    <div id="divTabs"></div>
    <div id="Image_overlay_text">
        <strong style="font-size: 20px;">MyExpenses was created to help families save money.</strong>
        <img class="site-image" src="../assets/application_images/iCETS_Logo.jpg" alt="Site Logo" />
    </div>
</div>