/* * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 2px;
    color: black;
}
#loginHeading {
    float: right;
}
#loginHeading a {
    font-weight: bold;
    font-size: 16px;
    color: white;
} */
label {
    font-style: italic;
    float: right;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}
a:hover, a:focus {
    text-decoration: none;
}
#signIn_signUp, a:focus {
    outline: 0;
}
/* .site-image {
    float: right;
    height: 30px;
    width: 200px;
} */
#termsLabel {
    float: left;
    font-size: 15px;
    line-height: 45px;
}
#signInButton {
    font-style: italic;
    background-color:#005695;
    color: white;
    margin-top: 3rem;
    line-height: 1.5;
}
#signUpButton {
    font-style: italic;
    background-color:#005695;
    color: white;
    margin-top: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
}
.nav-tabs {
    border: 0;
}
li.active:first-child a {
    margin-right: 0;
    border-top: 1px solid #005695;
    border-right: 1px solid #005695;
    border-left: 0;
    border-bottom: 0;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
}
li.active:last-child a {
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    border-top: 1px solid #005695;
    border-left: 1px solid #005695;
    border-bottom: 0;
}
li.active em {
    color: #005695;
}
li.active a {
    height: 50px;
    background: #FFF;
    color: #005695;
    z-index: 4;
    outline: 0;
    border-top: 1px solid #005695;
    border-bottom: 0;
}
.hr-text-outer {
    position: relative;
    border-bottom: 2px solid #000;
    margin-top: 15px;
}
.hr-text {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 400;
    padding-top: 8px;
    background-color: #005695;
    text-align: center;
    border-radius: 30px;
    color: #fff;
}
.form-group.forSingUp{
    margin-bottom: 1rem;
}
.modal-header {
    display: block;
    border-bottom: 0px;
    text-align: center;
}
.modal-body {
    margin: auto 45px;
}
.modal-content {
    border-radius: 20px;
    width: 80%;
    margin: auto;
}
.modal-footer {
    border-top: 0px;
    text-align: center;
    display: block;
    padding: 0px;
}
h3 {
    letter-spacing: -1px;
}
.bold {
    font-weight: 900;
    letter-spacing: -1px;
}
.carousel-images {
    height: 70rem !important;
    width: 100%;
}
/* #Image_overlay_text {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 15px;
    visibility: visible;
    bottom: 0px;
} */
.nav-link {
    text-align: center;
}
.title {
    cursor: inherit;
}
h4, .h4 {
    font-size: 1.4rem;
    text-align: center;
}
/* #divTabs {
    background-image:url('assets/subHeading.jpg');
    height: 15px;
} */
.demopadding {
    margin:15px auto 70px;
    width:140px;
    text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
    border-radius: 20px;
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
    font-family:'FontAwesome'!important;
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
    float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#005695;
	color:#0056e5;;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#005695;
	color:#0056e5;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(63, 63, 247, 0.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(63, 63, 247,.8));
	-ms-filter: 	drop-shadow(0 1px 10px rgba(63, 63, 247,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(63, 63, 247,.8));
	filter: 		drop-shadow(0 1px 10px rgba(63, 63, 247,.8));
}
.icon.social.fb i {
    color: white;
	left:13px;
	top:10px;
}
.icon.social.tw i {
    color: white;
	left:11px;
}
.icon.social.in i {
    color: white;
	left:11px;
}
input {
    border: 1px solid rgb(1, 1, 1, 0.07);
    border-bottom: 1px solid #000;
}
input, input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 2;
    height: 40px;
}
input.ng-valid[required]  {
    border-left: 5px solid #42A948; /* green */
}

input.ng-dirty.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}