<app-template></app-template>
<div class="container" ng-app="">
    <fieldset>
      <div class="col-lg-12" style="display: inline-flex">
        <div class="col-lg-5" style="text-align: center">
          <label>May view (Till date)</label>
          <div class="form-group"><img class="img img-mItems" src="../assets/monthView.jpg" alt="Month View"/></div>
        </div>
        <div class="col-lg-7" style="text-align: center">
          <label class="form-group">Last 3 months view</label><br>
          <div class="form-group col-lg-12" style="display: inline-flex">
            <div class="col-lg-4">
              <div class="form-group"><img class="img img-Pitems" src="../assets/milk.jpg" alt="milk"/></div>
              <label>April</label>
              <div class="form-group list-items">
                <table>
                    <tr><td>Abcd</td><td>40%</td></tr>
                    <tr><td>Bread</td><td>10%</td></tr>
                    <tr><td>Milk</td><td>50%</td></tr>
                  </table>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group"><img class="img img-Pitems" src="../assets/bread.jpg" alt="bread"/></div>
              <label>May</label>
              <div class="form-group list-items">
                <table>
                  <tr><td>Abcd</td><td>40%</td></tr>
                  <tr><td>Bread</td><td>50%</td></tr>
                  <tr><td>Cdef</td><td>10%</td></tr>
                </table>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group"><img class="img img-Pitems" src="../assets/vegetables.jpg" alt="vegetables"/></div>
              <label>June</label>
              <div class="form-group list-items">
                <table>
                  <tr><td>Vegetables</td><td>60%</td></tr>
                  <tr><td>Bread</td><td>30%</td></tr>
                  <tr><td>Cdef</td><td>10%</td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display: inline-flex">
        <div class="col-lg-5" style="text-align: center">
          <div class="form-group"><a href="">Show Transactions</a></div>
          <button class="btn btn-sm btn-primary">Email Dashboard</button>
        </div>
        <div class="col-lg-7" style="text-align: center">
          <div class="form-group"><a href="">Show Transactions</a></div>
          <div class="dropdown col-lg-12" style="display: inline-flex">
            <div class="col-lg-5">
              <button id="showSearchButton" class="btn btn-sm btn-primary" (click)="openSearch()">Open Search</button>
            </div>
            <div class="col-lg-7" style="display: flex;">
              <label>Download as &nbsp;</label>
              <select class="form-control" style="width: 7em; height: 2em; font-size: 15px;">
                <option value="">Pdf</option>
                <option value="">JPEG</option>
                <option value="">PNG</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset><br><br>
    <fieldset *ngIf="showSearch">
      <!-- <legend>Search</legend> -->
      <div class="radio col-lg-12" style="display: inline-flex">
        <div class="col-lg-3">
          <label><input type="radio" name="optradio">&nbsp; By Date-Range</label>
        </div>
        <div class="col-lg-4 date-class">
          <label class="control-label" for="fromDate">From:</label>
          <input class="form-control" id="fromDate" name="from" type="date"/>&nbsp;&nbsp;&nbsp;
          <label class="control-label" for="toDate">To:</label>
          <input class="form-control" id="toDate" name="to" type="date"/>
        </div>
      </div>
      <div class="radio col-lg-12" style="display: inline-flex;">
        <div class="col-lg-3">
          <label for="selectPeriod"><input type="radio" name="optradio"/>&nbsp; By Period</label>
        </div>
        <div class="pad-period col-lg-4">
          <select class="form-control" id="selectPeriod">
            <option value="">Jan-Mar</option>
            <option value="">Apr-Jun</option>
            <option value="">Jul-Sept</option>
            <option value="">Oct-Dec</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12" style="display: inline-flex">
        <div class="col-lg-3">
          <label for="selectCategory">Select Category:</label>
        </div>
        <div class="col-lg-4">
          <select class="form-control" id="selectCategory">
            <option value="">All</option>
            <option value="utilities">Utilities</option>
            <option value="health-care">Health Care</option>
            <option value="food">Food/Restraunts</option>
            <option value="groceries">Groceries</option>
            <option value="personal-care">Personal Care</option>
            <option value="entertainment">Entertainment</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <a class="col-lg-5">Advanced Search</a>
      </div>
      <div class="col-lg-12" style="display: inline-flex;">
        <div class="col-lg-3" style="text-align: right">
          <button class="btn btn-sm btn-primary" [routerLink]="'/home-page'">Back</button>
        </div>
        <div class="col-lg-3" style="text-align: right">
          <button class="btn btn-sm btn-primary">Clear</button>
        </div>
        <div class="col-lg-4" style="text-align: right">
          <button class="btn btn-sm btn-primary">Refresh Dashboard</button>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </fieldset><br>
</div>