a {
    color: blue !important;
    text-decoration: underline !important;
    text-align: right;
}
fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
}
.date-class {
    display: inline-flex;
}
.dropdown-menu {
    width: 50px;
    text-align: right;
}
.months-view {
    display: inline-flex;
    border: 1px groove black;
    border-radius: 5px;
}
.img-mItems {
    width: 25rem;
    height: 25rem;
    border: 1px groove black;
    border-radius: 5px;
}
.img-Pitems {
    display: inline-block;
    width: 5em;
    height: 5em;
    border: 1px solid white;
    border-radius: 5em;
}
td {
    padding: 3px !important;
}
.subSelect {
    width: 15em !important;
    height: 35px !important;
    font-size: 15px;
}