a {
    color: blue !important;
    text-decoration: underline !important;
    text-align: right;
}
fieldset {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
    border-radius: 20px;
}
label {
    display: inline-block;
}
.date-class {
    display: inline-flex;
}