* {
    font-family: cursive;
    font-size: 18px;
    padding: 2px;
    color: black;
    line-height: 0.9em;
}
body {  
    background-image: url('/assets/application_images/background-image.jpg')
}
#chat-logo {
    width: 6.5rem;
    height: auto;
    cursor: pointer;
    border-radius: 50px;
}
label {
    line-height: 25px;
}
.displayType {
    display: inline-flex;
}
.alignCenter {
    text-align: center !important;
}
.title {
    color: white;
    font-size: 40px;
    letter-spacing: -1px;
    font-family: serif;
    font-weight: bold;
}
.bold {
    font-weight: 900;
    letter-spacing: -1px;
}
.panel {
    border-radius: 20px !important;
}
.panel-heading {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.panel-body {
    padding: 0px !important;
}
.panel-title {
    font-size: 18px !important;
}
.row {
    text-align: center;
    display: block !important;
}
#loginHeading {
    height: 80px;
    line-height: 80px;
    text-align: right;
    padding-right: 0px;
}
#loginHeading a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: sans-serif !important;
}
a:hover {
    text-decoration: none !important;
}
div {
    outline-style: none;
}
#divTabs {
    background-image:url('assets/application_images/subHeading.jpg');
    height: 15px;
    margin-top: 11rem;
}
#Image_overlay_text {
    position: fixed;
    width: 100%;
    line-height: 35px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    visibility: visible;
    bottom: 0px;
}
.bottom-image {
    float: right;
    height: 3.5rem;
    width: 20rem;
}
select {
    width: 12em;
    height: 35px;
    font-size: 15px;
}
.btn-width {
    width: 100px;
}
@media (max-width: 1200px) {
    .title {
        font-size: 35px;
    }
    #site-logo {
        width: 11rem;
        height: 8.5rem;
        filter: brightness(110%) contrast(200%);
    }
    .site-logo-pos {
        position: relative;
        left: -25px;
    }
}
@media (min-width: 1200px) {
    .title {
        font-size: 40px;
    }
    #site-logo {
        width: 13rem;
        height: 9rem;
        filter: brightness(110%) contrast(200%);
    }
    .site-logo-pos {
        position: relative;
        left: -50px;
    }
}