* {
    font-family: sans-serif;
    font-size: 18px;
    padding: 2px;
    color: black;
    line-height: 0.9em;
}
body {  
    background-image: url('/assets/application_images/background-image.jpg')
}
.title {
    color: white;
    /* margin: 40px; */
    font-size: 50px;
    cursor: pointer;
}
.sub-title {
    color: white;
    /* margin: 40px; */
    font-size: 40px;
    cursor: pointer;
}
.row {
    text-align: center;
    display: block !important;
}
#loginHeading {
    height: 80px;
    line-height: 80px;
    text-align: right;
}
#loginHeading a {
    font-weight: bold;
    font-size: 18px;
    color: white;
}
a:hover {
    text-decoration: none !important;
}
#divTabs {
    background-image:url('assets/application_images/subHeading.jpg');
    height: 15px;
}
#Image_overlay_text {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 10px;
    visibility: visible;
    bottom: 0px;
}
.site-image {
    float: right;
    height: 30px;
    width: 200px;
}
select {
    width: 10em !important;
    height: 35px !important;
    font-size: 15px;
}