<app-template></app-template>
<div>
  <br>
  <div class="displayType">
    <div class="img-border hovereffect">
      <img class="img img-responsive" [routerLink]="['/dashboard']" src="../assets/home-page_images/dashboard_image.jpg" alt="Dashboard image">
      <p>&nbsp;My Dashboard</p>
    </div>
    <div class="img-border hovereffect">
      <img class="img img-responsive" [routerLink]="['/shopping-list']" src="../assets/home-page_images/shoppingList_image.jpg" alt="ShoppingList image">
      <p>&nbsp;My Shopping-List</p>
    </div>
    <div class="img-border hovereffect">
      <img class="img img-responsive" [routerLink]="['/receipt-store']" src="../assets/home-page_images/receiptStore_image.jpg" alt="Receipts image">
      <p>&nbsp;My Receipts</p>
    </div>
    <div class="img-border hovereffect">
      <img class="img img-responsive" [routerLink]="['/rewards']" src="../assets/home-page_images/rewards_image.jpg" alt="Preferences image">
      <p>&nbsp;My Rewards</p>
    </div>
    <div class="img-border hovereffect">
      <img class="img img-responsive" [routerLink]="['/preferences']" src="../assets/home-page_images/preferences_image.jpg" alt="Preferences image">
      <p>&nbsp;My Preferences</p>
    </div>
  </div>
</div>