<app-template></app-template>
<div class="container">
  <br>
  <div style="display:inline-flex">
    <div class="img-border">
      <img [routerLink]="['/dashboard']" src="../assets/home-page_images/dashboard_image.jpg" alt="Dashboard image">
      <p>&nbsp;My Dashboard</p>
    </div>&nbsp;&nbsp;
    <div class="img-border">
      <img [routerLink]="['/shopping-list']" src="../assets/home-page_images/shoppingList_image.jpg" alt="ShoppingList image">
      <p>&nbsp;My Shopping-List</p>
    </div>&nbsp;&nbsp;
    <div class="img-border">
      <img [routerLink]="['/receipt-store']" src="../assets/home-page_images/receiptStore_image.jpg" alt="Receipts image">
      <p>&nbsp;My Receipts</p>
    </div>&nbsp;&nbsp;
    <div class="img-border">
      <img [routerLink]="['/preferences']" src="../assets/home-page_images/preferences_image.jpg" alt="Preferences image">
      <p>&nbsp;My Preferences</p>
    </div>
  </div>
</div>