.container {
    margin-right: 12rem;
}
img {
    width: 12rem;
    height: 22rem;
    vertical-align: middle;
    cursor: pointer;
}
.img-border {
    border: 3px groove white;
}
p {
    position: fixed;
    bottom : 140px;
    color: white;
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
}