img {
    width: 25rem;
    height: 40rem;
    vertical-align: middle;
    cursor: pointer;
}
/* .img-border {
    border: 2px groove bisque;
} */
.displayType {
    margin-left: 60px;
}
p {
    width: 25rem;
    height: 35px;
    line-height: 35px;
    position: fixed;
    /* bottom : 114px; */
    bottom : 103px;
    color: white;
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    background-color: rgba(1, 1, 1, 0.4);
}
.hovereffect {
    float:left;
    /* overflow:hidden; */
    /* position:relative; */
    /* text-align:center; */
    /* cursor:default; */
    padding: 15px;
}
    
.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
}
   
.hovereffect:hover img {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    border: 3px groove bisque;
}
